html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    letter-spacing: 1px;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.start {
    text-align: center;
    position: absolute;
    cursor: pointer;
}

.start > img {
    height: 75px;
}

.microphone {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.man {
    height: 100%;
}

.visible {
    opacity: 1;
    transition: opacity 1s;
}

.hidden {
    opacity: 0;
    transition: opacity 1s;
}

.message {
    position: absolute;
    bottom: 100px;
    left: 180px;
    max-width: 400px;
    background: white;
    border: 5px solid pink;
    border-radius: 25px;
    padding: 15px;
    line-height: 1.6;
}

.swim {
    animation: swim 10s ease-in;
    animation-fill-mode: forwards;
}

@keyframes typing {
  from { max-height: 0 }
  to { max-height: 700px }
}

@keyframes swim {
    from {
        bottom: 100px;
    }

    to {
        bottom: 300px;
    }
}